:root {

    --green400: hsl(172, 67%, 45%);


    --green900: hsl(183, 100%, 15%);
    --grey500: hsl(240, 2%, 10%);
    --grey400: hsl(184, 14%, 56%);
    --grey200: hsl(185, 41%, 84%);
    --grey50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);
}